@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Circular Std";
    src: url("/public/font/CircularStd-Bold.woff") format("woff");
  }

  html {
    font-family: inter;
  }

  h1 {
    font-family: Circular Std;
  }
}

.padding-mx {
  @apply px-4 md:px-8 xl:px-32 py-6;
}

.rounded-card {
  border-radius: 32px;
}

.header-tittle-base {
  @apply text-base xl:text-2xl font-semibold text-secondary uppercase tracking-[4.6px] text-center md:text-start;
}

.header-tittle {
  @apply text-3xl xl:text-[55px] xl:leading-[66px] font-bold text-center md:text-start;
}
